@import "ui-variables";
@import "octicon-mixins";

.status-bar {
  padding: 5px 10px;
  font-size: 11px;
  line-height: 14px;
  position: relative;
  -webkit-user-select: none;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  min-width: -webkit-min-content;

  .cursor-position,
  .grammar-name {
    margin-left: 10px;
  }

  .grammar-name {
    cursor: pointer;
    border: 1px solid transparent;
    padding: 1px 2px;
  }

  // All icons are smaller than normal (normal is 16px)
  .icon:before {
    .icon-size(14px);
    margin-right: 0px;
  }

  .icon-diff-ignored:before,
  .commits-ahead-label:before,
  .commits-behind-label:before {
    margin-right: -1px;
  }
}
