@import "ui-variables";
@import "octicon-mixins";

.status-bar {
  font-size: 11px;
  line-height: @component-line-height - 3px;
  height: @component-line-height + 1px;
  position: relative;
  -webkit-user-select: none;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  min-width: -webkit-min-content;

  .flexbox-repaint-hack {
    padding: 0 @component-line-height/2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  // All icons are smaller than normal (normal is 16px)
  .icon:before {
    .icon-size(14px);
    position: relative;
    top: 1px;
    margin-right: 0px;
  }

  .icon-diff-ignored:before,
  .commits-ahead-label:before,
  .commits-behind-label:before {
    margin-right: -1px;
  }

  .git-view {
    display: inline-block;
  }
}
