@import "ui-variables";
@import "octicon-mixins";

.status-bar {
  padding: @component-padding/2 @component-padding;
  font-size: 11px;
  line-height: 14px;
  position: relative;
  -webkit-user-select: none;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  min-width: -webkit-min-content;

  // All icons are smaller than normal (normal is 16px)
  .icon:before {
    .icon-size(14px);
    margin-right: 0px;
  }

  .icon-diff-ignored:before,
  .commits-ahead-label:before,
  .commits-behind-label:before {
    margin-right: -1px;
  }
}
